---
layout: layouts/blog.njk
permalink: "ru/blog/index.html"
lang: ru
---
{% set list = collections.posts_ru | reverse %}
<h1>Blog</h1>
<ul>
{% for post in list %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
    <small> — {{ post.date | readableDate }}</small>
    {% if post.data.summary %}<div>{{ post.data.summary }}</div>{% endif %}
  </li>
{% endfor %}
</ul>
